{% extends 'base.html.twig' %}

{% block title %}Crear Articulo!{% endblock %}

{% block body %}
    <div class="col-lg-8 align-center">
        <h1>Crear Nuevo Articulo</h1>

        {{form_start(form)}}

        <div class="form-group">
            <h4>Nombre</h4>
            {{form_widget(form.nombre)}}
        </div>
        <div class="form-group">
            <h4>Descripcion</h4>
            {{form_widget(form.descripcion)}}
        </div>
        <div class="form-group">
            <h4>Precio</h4>
            {{form_widget(form.precio)}}
        </div>

        <input type="submit" class="btn btn-primary">
    
    
        {{form_end(form)}}
    
    </div>
{% endblock %}
