{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .align-center {
            margin: auto auto;
        }
    </style>
{% endblock %}
{% block title %}Tienda{% endblock %}
{% block body %}
    <div class='row'>
            <div class="col-lg-8 align-center">
                <h1>Tienda</h1>
                <table class="table table-striped ">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for articulo in articulos %}
                            <tr>
                                <td>{{articulo.nombre}}</td>
                                <td>{{articulo.descripcion}}</td>
                                <td>{{articulo.precio}}</td>
                                <td>
                                    <a href="{{ path('app_edit', {id:articulo.id}) }}" class="btn btn-primary">Editar</a>
                                    <a href="{{ path('app_delete', {id:articulo.id}) }}" class="btn btn-danger">Eliminar</a>
                                    
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>        

    <div class="row">
        <div class="col-lg-8 align-center">
            <a href="{{path('app_create')}}" class="btn btn-primary">Crear Articulo</a>
        </div>
    </div>
{% endblock %}
